:root {
  --main-color: #161616;
  --main-size: 16px;
  --main-font: "Roboto", sans-serif;
}
@font-face {
  font-family: "Vetrino";
  src: url("./fonts/vetrino.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-color);
  size: var(--main-size);
  font-family: var(--main-font);
}

.navigation {
  background-color: #81a36b;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
.nav {
  height: 80px;
  display: flex;
  align-items: center;
}
ul {
  display: flex;
  justify-content: space-between;
  gap: 90px;
}
h1 {
  font-family: Vetrino;
  font-size: 62px;
  margin-bottom: 60px;
}
.logo p {
  font-family: Vetrino;
  font-size: 36px;
  line-height: 39px;
  letter-spacing: 0em;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
.about_us {
  background-color: #d8d8d6;
  padding-bottom: 60px;
}
.main-info {
  margin-right: 30px;
}
.paragraph {
  font-size: 18px;
  font-style: normal;
  line-height: 29px;
  margin-bottom: 40px;
  max-width: 540px;
}
.button {
  background: #81a36b;
  padding: 20px 30px;
}
.button + .button {
  margin-left: 60px;
}
img {
  max-width: 540px;
}
.description {
  background-color: #d8d8d6;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.description h2 {
  font-family: Vetrino;
  font-size: 32px;
  margin-bottom: 60px;
  text-align: center;
}
.services {
  padding: 80px 0;
  background-color: #81a36b;
}
.items {
  display: flex;
  justify-content: space-between;
}
.product {
  text-align: center;
}
.product:not(:last-child) {
  margin-right: 45px;
}
.product img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 20px;
}
.product h3 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}
.flex-fix {
  display: flex;
  text-align: center;
  align-items: center;
}
.working-info h4 {
  font-family: "Vetrino";
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 60px;
}
.working-info {
  margin-left: 30px;
}
.working-issues {
  padding: 120px 0 60px;
  background-color: #d8d8d6;
}
.portfolio {
  background-color: #d8d8d6;
  padding: 60px 0;
}
.flex {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.flower-card {
  max-width: 33%;
  background-color: #81a36b;
  padding: 15px 15px 90px 15px;
}
.flower-card img {
  margin-bottom: 23px;
}

h4 {
  text-align: center;
  font-family: Vetrino;
  font-size: 32px;
  margin-bottom: 80px;
}
footer {
  padding: 60px 0;
  background-color: #81a36b;
}
.titles {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 39px;
  margin-bottom: 40px;
}
/* a {
  margin-bottom: 20px;
} */
.title {
  font-family: Vetrino;
  font-size: 36px;
}
.disp_block {
  display: block;
}
.icons a {
  padding: 15px;
}
span {
  display: block;
  text-align: center;
}
